@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  --font-family: 'Playwrite IT Moderna', sans-serif;
  --main-color: 'oklch(0.627 0.265 303.9)';
  font-family: var(--font-family);
}


html,
body {
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  /* a:hover {
    color: var(--color-purple-500);
  } */

}

.MuiTypography-root {
  font-family: var(--font-family) !important;
}